*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  color:white;
}


footer{
  background-color: blueviolet;
  height: 60px;
  width:100vw;
  bottom:0;
  left:0;
  z-index: 999;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color:rgb(189,189,189);
}

a:hover, a:active{
  color:rgb(252,252,252);
}

a:hover svg, a:active svg{
  color:rgb(252,252,252);
}



/*++++++++++++++++ HEADER +++++++++++++++++*/

header{
  background-color: rgba(0,0,0,0.6);
  height:65px;
  width:calc(100vw - 160px);
  position: fixed;
  top:0;
  right:0;
  padding:15px;
  z-index: 998;
  justify-content: flex-end;
  align-items: center;
}

header .upgrade{
  display: inline-block;
  color:rgb(252,252,252);
  border:1px solid rgb(252,252,252);
  border-radius: 25px;
  padding:10px 20px;
  font-size:90%;
}

/*++++++++++++++++ ASIDE +++++++++++++++++*/

aside{
  background-color: black;
  width:160px;
  height:calc(100vh - 60px);
  position: absolute;
  left:0;
  top:0;
  z-index: 997;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding:20px 15px 20px 0;
}

aside svg{
  vertical-align: middle;
  color:rgb(189,189,189);
}

.aside-top svg{
  width:20%;
  vertical-align: middle;
  color:rgb(189,189,189);
}

aside .logo{
  width:95%;
  padding:0 15px;
}

aside ul{
  list-style: none;
  margin:20px 0;
}

aside ul li {
  font-size:80%;
  min-height:20px;
  margin-bottom:10px;
  border-left: 3px solid rgba(160,255,37, 0);
  padding-left:15px;
  font-weight: bold;

}

aside ul li:hover, aside ul li:active{
  border-left: 3px solid rgba(161, 255, 37, 1);
}

.aside-playlists li i{
  font-size:250%;
}

aside h5{
  font-size:105%;
  padding:20px 15px 0;
}
.aside-playlists li a.d-flex{
  align-items: center;
}

.aside-bottom a{
  padding-left: 15px;
  font-size:80%;
  font-weight: bold;
}

.aside-bottom a>svg{
  width:15%;
}

.aside-bottom a::after{
  content: ' ';
  display: block;
  margin:5px 15px;
  border-bottom:1px solid rgb(189,189,189);
  width:80%;
}

.aside-bottom span:last-child{
  padding:8px 15px;
  align-items: center;
}

div.user{
  position:relative;
  display: inline-block;
  width:30px;
  height:30px;
  border-radius:50%;
  background-color: rgb(127, 127, 127);
  border: 1px solid rgb(189,189,189) ;
}

div.user + h4{
  display: inline-block;
}

.user svg{
  position: absolute;
  width:15px;
  left:calc(50% - 7.5px);
  top:calc(50% - 8px);
}

/*++++++++++++++++ MAIN +++++++++++++++++*/

main{
  background-color: rgb(16,19,26);
  padding: 95px 30px 90px 190px;
  height:calc(100vh - 60px);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

main nav ul{
  margin:0 auto;
  list-style: none;
  justify-content: space-between;
  max-width: 60%;
}

main nav ul a{
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color:rgb(113,113,113);
}

main nav ul a::after{
  content: ' ';
  display: block;
  margin-left:calc(50% - 20%);
  margin-top:5px;
  border-bottom:2px solid rgba(161, 255, 37,0);
  width:40%;
}

main nav ul a:hover::after , main nav ul a:active::after{
  content: ' ';
  display: block;
  margin-left:calc(50% - 20%);
  margin-top:5px;
  border-bottom:2px solid rgba(161, 255, 37,1);
  width:40%;
}

main section{
  padding:20px;
}

main h2{
  color:white;
}

main h4, main h6{
  text-transform: capitalize;
}

main h6{
  color:rgb(113,113,113);
}

main div.card{
  text-align: center;
  background-color: blue;
  min-width:calc(100% / 6);
  height:100%;
}

div.card-top-cover{
  background-color: yellow;
  height:200px;
  width:200px;

}

div.card-top-cover img{
  max-width:100%;
  object-fit: contain;
}

