*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  color:white;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color:rgb(189,189,189);
}

a:hover, a:active{
  color:rgb(252,252,252);
}

a:hover svg, a:active svg{
  color:rgb(252,252,252);
}



/*++++++++++++++++ HEADER +++++++++++++++++*/

header{
  background-color: rgba(0,0,0,0.6);
  height:65px;
  width:calc(100vw - 150px);
  position: fixed;
  top:0;
  right:0;
  padding:15px;
  z-index: 998;
  justify-content: flex-end;
  align-items: center;
}

header .upgrade{
  display: inline-block;
  color:rgb(252,252,252);
  border:1px solid rgb(252,252,252);
  border-radius: 25px;
  padding:8px 16px;
  font-size:90%;
}

header .upgrade:hover , .footer-center i.fa-circle-play:hover{
  transform: scale(108%);
}

/*++++++++++++++++ ASIDE +++++++++++++++++*/

aside{
  background-color: black;
  flex-wrap: nowrap;
  width:150px;
  height:calc(100vh - 70px);
  z-index: 997;
}

aside .container{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding:20px 10px;
  height:100%;
  width:100%;
}

aside svg{
  vertical-align: middle;
  color:rgb(189,189,189);
}

.aside-top svg{
  width:15%;
  vertical-align: middle;
  color:rgb(189,189,189);
}

aside .logo{
  width:95%;
  padding:0 5px;
}

.small-logo{
  display:none;
}

aside ul.aside-main-icons{
  list-style: none;
  margin:30px 5px;
}
aside ul.aside-main-icons li{
  margin-bottom:10px;
}

aside ul li a, .aside-playlists>a {
  font-size:0.8rem;
  font-weight: 500;
  border-left: 3px solid rgba(160,255,37, 0);
  padding-left:5px;

}

aside .aside-playlists ul li{
  margin-bottom:8px;
}

aside ul li a.active{
  border-left: 3px solid rgba(161, 255, 37, 1);
}

.aside-playlists i{
  font-size:150%;
  line-height: 0.7rem;
}

.aside-playlists{
  width:100%;
  
}
.aside-playlists ul{
  overflow-y:auto;
  height:calc(100vh - 410px);
  margin-top:15px;
}

.aside-playlists ul a{
  margin-bottom: 8px;
}

aside h5{
  font-size:0.8rem;
  padding:8px 5px 18px;
}


.aside-bottom{
  z-index:900;
  height:70px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:100%;
}

.aside-bottom a{
  font-size:0.7rem;
  font-weight: bold;
}

.aside-bottom a>svg{
  width:15%;
}

.aside-bottom a::after{
  content: ' ';
  display: block;
  margin:5px;
  border-bottom:1px solid rgb(189,189,189);
  width:80%;
}

.aside-bottom span:last-child{
  padding:5px 2px;
  align-items: center;
}

.user{
  position:relative;
  display: inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color: rgb(127, 127, 127);
  border: 1px solid rgb(189,189,189) ;
}

.user:hover{
  cursor: pointer;
}

.user + h4{
  display: inline-block;
  font-size:0.8rem;
  margin-left: 3px;
}

.user svg{
  position: absolute;
  width:12px;
  left:calc(50% - 6px);
  top:calc(50% - 7px);
}

/*++++++++++++++++ MAIN +++++++++++++++++*/

div.main-section{
  background-color: rgb(16,19,26);
  padding: 90px 30px 30px 30px;
  height:calc(100vh - 70px);
  width: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

main nav ul{
  margin:0 auto;
  list-style: none;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 60%;
  flex-shrink: 1;
  flex-wrap: wrap;
}

main nav ul a{
  text-transform: uppercase;
  font-weight: 600;
  font-size:0.9vw;
  margin: 2px 5px;
  text-align: center;
  color:rgb(113,113,113);
}

main nav ul a::after{
  content: ' ';
  display: block;
  margin-left:calc(50% - 20%);
  margin-top:5px;
  border-bottom:2px solid rgba(161, 255, 37,0);
  width:40%;
}


main nav ul a.active::after {
  content: ' ';
  display: block;
  margin-left:calc(50% - 20%);
  margin-top:5px;
  border-bottom:2px solid rgba(161, 255, 37,1);
  width:40%;
}

main section{
  margin:5vh 0;
}

.row.d-flex{
  flex-wrap: wrap;
  justify-content:flex-start;
  width:100%;
}

main h2{
  color:rgb(252,252,252);
  margin:15px;
}

main h3{
  color:rgb(113,113,113);
  font-size:1vw;
  margin:10px 15px;
}

main div.card{
  text-align: center;
  width:calc(100% / 6);
  height:100%;
  aspect-ratio: 4 / 5;
  padding:10px;
  display: block;
}

div.card:hover .over{
  display: block;
}

.over{
  display: none;
  z-index: 10;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  cursor: pointer;
}

.round{
  border-radius: 50%;
  overflow: hidden;
}

div.card-top-cover{
  aspect-ratio: 1 / 1;
  width: 100%;
  height:80%;
  flex-shrink: 1;
  position: relative;
}

div.card-top-cover img{
  height:100%;
  object-fit: cover;
}

.shadow-player{
  background-color: rgba(0,0,0,0.5);
  color:rgb(252,252,252);
  font-size:2rem;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  object-fit: cover;
}


.card-bottom-info{
  height:20%;
  padding:5px 1% 0.5%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 2;
}

main h4, main h6{
  text-transform: capitalize;
  font-weight:500
}

main h4{
  font-size:1vw;
  margin-bottom: 2px;
}

main h6{
  color:rgb(113,113,113);
  font-size:0.8vw;
}


/*++++++++++++++++ FOOTER +++++++++++++++++*/

footer{
  background-color: rgb(30,30,30);
  color:rgb(189,189,189) ;
  height: 70px;
  width:100vw;
  z-index: 999;
  padding:10px 15px;
  justify-content: space-between;
}

.footer-left{
  height:100%;
  align-items: center;
  justify-content: flex-start;
  width:20%;
  flex-wrap: nowrap;
}

.footer-left .song-info{
  height:100%;
  align-items: center;
  justify-content: flex-start;
  min-width: 50%;
  
}

.footer-left .song-info img{
  height:100%;
}

.footer-left .song-details{
  display: inline-block;
  min-width:80%;
  margin:5px 5px 5px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right:3px;
}

.footer-left .song-details h5 a{
  font-size:0.9rem;
  color:rgb(252,252,252);
}

.footer-left .song-details h6 a{
  font-size:0.8rem;
  word-break: break-all;
}

.footer-left .song-icons{
  width: 15%;
  justify-content: space-between;
  margin-left:5px;
}

.song-icons i , .footer-right-icons i{
  margin:3px;
}

.footer-center{
  width:40%;
  flex-direction: column;
  justify-content: center;
  font-size:1rem;
}

.footer-center .song-options{
  width:50%;
  height:50%;
  margin:0 auto 5px;
  justify-content: space-evenly;
  align-items: center;
}

.footer-center .song-options i:nth-child(3){
  font-size:1.5rem;
}

footer i:hover{
  cursor:pointer;
  color:rgb(252,252,252);
}

footer .song-bar-tools{
  justify-content: center;
  align-items: center;
  height:1rem;
}

footer .song-bar-tools span:first-child, footer .song-bar-tools span:last-child{
  font-size: 0.8rem;
  margin:5px;
}

.bar{
  background-color: rgb(72,72,72);
  border-radius:5px;
}

.overlap-bar{
  background-color:rgb(180,180,180);
  position: relative;
  width:44%;
  height:100%;
  border-radius: 5px;
  left:0;
  top:0;
}

.bar:hover .overlap-bar{
  background-color:rgba(161, 255, 37,1);
  cursor: pointer;
}

.bar:hover .dot{
  display: block;
  cursor: pointer;
}

.dot{
  width:12px;
  height:12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right:-3px;
  top:-4px;
  display: none;
}

.footer-center .bar{
  width:70%;
  height:5px;
}

.footer-right{
  height:100%;
  width:20%;
  justify-content: flex-end;
  align-items: center;
}

.volume-right{
  width:60%;
  justify-content: center;
  align-items: center;
}
.footer-right-icons{
  width:15%;
  justify-content: space-between;
}
.footer-right .bar{
  min-width:60%;
  height:6px;
  margin-left:5px;
}
