*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  color:white;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color:rgb(189,189,189);
}

a:hover, a:active{
  color:rgb(252,252,252);
}

a:hover svg, a:active svg{
  color:rgb(252,252,252);
}



/*++++++++++++++++ HEADER +++++++++++++++++*/

header{
  background-color: rgba(0,0,0,0.6);
  height:65px;
  width:calc(100vw - 150px);
  position: fixed;
  top:0;
  right:0;
  padding:15px;
  z-index: 998;
  justify-content: flex-end;
  align-items: center;
}

header .upgrade{
  display: inline-block;
  color:rgb(252,252,252);
  border:1px solid rgb(252,252,252);
  border-radius: 25px;
  padding:10px 20px;
  font-size:90%;
}

/*++++++++++++++++ ASIDE +++++++++++++++++*/

aside{
  background-color: black;
  flex-wrap: nowrap;
  width:150px;
  height:calc(100vh - 70px);
  position: absolute;
  left:0;
  top:0;
  z-index: 997;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding:20px 5px 10px 0;
}

aside svg{
  vertical-align: middle;
  color:rgb(189,189,189);
}

.aside-top svg{
  width:15%;
  vertical-align: middle;
  color:rgb(189,189,189);
}

aside .logo{
  width:95%;
  padding:0 15px;
}

aside ul{
  list-style: none;
  margin:30px 0;
}

aside ul li , .aside-playlists>a {
  font-size:0.7rem;
  margin-bottom:10px;
  border-left: 3px solid rgba(160,255,37, 0);
  padding-left:15px;
  font-weight: bold;

}

aside ul li:hover, aside ul li:active{
  border-left: 3px solid rgba(161, 255, 37, 1);
}

.aside-playlists i{
  font-size:200%;
  line-height: 0.7rem;
}

.aside-playlists{
  width:100%;
  
}
.aside-playlists ul{
  overflow-y:auto;
  height:calc(100% - 100px);
}

aside h5{
  font-size:0.8rem;
  padding:8px 15px 18px;
}


.aside-bottom{
  z-index:900;
  height:70px;
  flex-direction: column;
  justify-content: center;
}

.aside-bottom a{
  padding-left: 15px;
  font-size:0.6rem;
  font-weight: bold;
}

.aside-bottom a>svg{
  width:15%;
}

.aside-bottom a::after{
  content: ' ';
  display: block;
  margin:5px 15px;
  border-bottom:1px solid rgb(189,189,189);
  width:80%;
}

.aside-bottom span:last-child{
  padding:8px 15px;
  align-items: center;
}

div.user{
  position:relative;
  display: inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color: rgb(127, 127, 127);
  border: 1px solid rgb(189,189,189) ;
}

div.user + h4{
  display: inline-block;
  font-size:1rem;
}

.user svg{
  position: absolute;
  width:15px;
  left:calc(50% - 7.5px);
  top:calc(50% - 8px);
}

/*++++++++++++++++ MAIN +++++++++++++++++*/

main{
  background-color: rgb(16,19,26);
  padding: 75px 15px 13px 165px;
  height:calc(100vh - 70px);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

main nav ul{
  margin:0 auto;
  list-style: none;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 65%;
}

main nav ul a{
  text-transform: uppercase;
  font-weight: 600;
  font-size:0.9rem;
  text-align: center;
  color:rgb(113,113,113);
}

main nav ul a::after{
  content: ' ';
  display: block;
  margin-left:calc(50% - 20%);
  margin-top:5px;
  border-bottom:2px solid rgba(161, 255, 37,0);
  width:40%;
}

main nav ul a:hover::after , main nav ul a:active::after {
  content: ' ';
  display: block;
  margin-left:calc(50% - 20%);
  margin-top:5px;
  border-bottom:2px solid rgba(161, 255, 37,1);
  width:40%;
}

main section{
  padding:20px;
}

.row.d-flex{
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%;
}

main h2{
  color:white;
  margin:15px 0;
}

main div.card{
  text-align: center;
  background-color: rgb(0, 0, 0);
  max-width:calc(100% / 6);
  height:100%;
  aspect-ratio: 4 / 5;
  padding:10px;
}

div.card-top-cover{
  aspect-ratio: 1 / 1;
  width: 100%;
  height:80%;
  flex-shrink: 1;
}

div.card-top-cover img{
  height:100%;
}

.card-bottom-info{
  height:20%;
  padding:5px 1% 0.5%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 2;
}

main h4, main h6{
  text-transform: capitalize;
  font-weight:500;
  font-size:0.9vw;
}

main h6{
  color:rgb(113,113,113);
  font-size:0.8vw;
}


/*++++++++++++++++ FOOTER +++++++++++++++++*/

footer{
  background-color: blueviolet;
  height: 70px;
  width:100vw;
  z-index: 999;
  padding:10px 15px;
  justify-content: space-between;
}

.footer-left, .footer-right{
  height:100%;
  align-items: center;
  justify-content: space-between;
  width:14%;
  flex-wrap: nowrap;
}

.footer-left .song-info{
  height:100%;
  align-items: center;
  width:80%;
}

.footer-left .song-info img{
  height:100%;
}

.footer-left .song-details{
  height:100%;
  min-width:40%;
  margin-left:8px;
  flex-direction: column;
  justify-content: center;
}

.footer-left .song-details h5 a{
  font-size:1rem;
  color:rgb(252,252,252);
}

.footer-left .song-details h6 a{
  font-size:0.8rem;
}



.footer-left .song-icons{
  width: 20%;
  justify-content: space-between;
}

.footer-center{
  width:40%;
  flex-direction: column;
  justify-content: center;
  font-size:1rem;
}

.footer-center .song-options{
  width:30%;
  margin:0 auto 5px;
  justify-content: space-evenly;
  align-items: center;
}

.footer-center .song-options i:nth-child(3){
  font-size:1.5rem;
}

.footer-center .song-options:hover{
  cursor:pointer;
  color:rgb(252,252,252);
}

footer .song-bar-tools{
  justify-content: space-around;
  align-items: center;
  height:1rem;
}

footer .song-bar-tools span:first-child, footer .song-bar-tools span:last-child{
  font-size: 0.8rem;
}

.footer-center .bar{
  width:70%;
  height:8px;
  border-radius:5px;
  background-color: brown;
}

.footer-right .bar{
  width:50%;
  height:8px;
  border-radius:5px;
  background-color: brown;
}