.d-flex{
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #403f3f;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 10px;
  height:30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(161, 255, 37,1);
}